<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sku %>
    <%= f.text_field :sku %>
  </div>

  <div class="field">
    <%= f.label :descripcion %>
    <%= f.text_field :descripcion %>
  </div>

  <div class="field">
    <%= f.label :precio %>
    <%= f.text_field :precio %>
  </div>

  

<div class="field">
  <%= f.label "Categoría" %>
    <%= select("product", "category_id", Category.all.collect {|cat| [ cat.nombre, cat.id ] } )%>
  </div>


<div class="field">
  <%= f.label "Marca" %>
  <%= select("product", "trademark_id", Trademark.all.collect {|tm|  [tm.nombre, tm.id]} ) %>
</div>

<div class="field">
  <%= f.label "Foto del producto" %>
  <%= f.file_field :imagen %>
</div>


  <div class="actions">
    <%= f.submit "Guardar" %>
  </div>
<% end %>

